<p id="notice"><%= notice %></p>

<h1>Products</h1>

<table>


  <tbody class='row'>
    <%# Scope  %>
    <%= render partial: "product", collection: @products %>
  </tbody>
</table>

<br>

<%= link_to 'New Product', new_product_path %>
